body {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
}

.siteBlocks {
    display: grid;
    grid-column: 2 / -2;
}

aside.siteBlocks, footer.siteBlocks {
    grid-column: 1 / -1;
    grid-template-columns: subgrid;
}

aside.siteBlocks > *, footer.siteBlocks > * {
    grid-column: 2 / -2;
}