body {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
}

.siteBlocks {
    display: grid;
    grid-column: 2 / -2;
}

aside.siteBlocks, footer.siteBlocks {
    grid-column: 1 / -1;
    grid-template-columns: subgrid;
}

aside.siteBlocks > *, footer.siteBlocks > * {
    grid-column: 2 / -2;
}

nav ul {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.logo {
    display: block;
}

.banner {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.banner img {
    grid-column: 1 / 7;
    width: 100%;
}

.serviceList {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}
